#footer{
    background-color: $bg-1;
    padding-bottom: 30px;
    padding-top: 30px;

    li{
        display: inline-block;
        margin-right: 8px;
        border-right: solid 1px $font-1;
        padding-right: 8px;

        &:last-child{
            border-right: solid 1px transparent;
        }

        a{
            color: $font-1;


            &:hover{
                color:$deco-1;
                }
        }
    }
}
