/*_general.scss*/
        .overlay{

                &:hover {/* on cible uniquement les div qui auront l'effet hover (class="overlay"), car on ne souhaite pas de overlay sur la derniere div contenant l'icon fleche*/

                    &:before{/* NB :before ou :after ne fonctionne pas sur les balises img)*/
                            content:'\002b';
                            font-size: 40px;
                            line-height: 40px;
                            position: absolute;
                            bottom: 0;
                            top:0;
                            left:0;
                            right:0;
                        /* on positionne l'icon plus à 50% de la gauche - la moitié de sa tailler (40px-20px) - les 2 bordures... - 1 px ???!!!:-) */
                            padding-left: calc(50% - (20px - 4px - 1px));
                        /*idem saut + seulement 1  bordure (4px)...*/
                            padding-top:  calc(50% - (20px + 4px));
                            background-color: $bg-1;
                            opacity: 0.9;
                            color: $font-1;
                            cursor:zoom-in;

                    }
                }
        }


