@charset "UTF-8";
/*theme scss*/
/*@font-path: "../../fonts/typo";

@font-face { font-family: 'segoeui'; src: url('@{font-path}/segoeui.eot?v=3.0.1'); src: url('@{font-path}/segoeui.eot?#iefix&v=3.0.1') format('embedded-opentype'), url('@{font-path}/segoeui.woff?v=3.0.1') format('woff'), url('@{font-path}/segoeui.ttf?v=3.0.1') format('truetype'); font-weight: normal; font-style: normal;
}

@font-face { font-family: 'Soulmaker_in_the_Mountains'; src: url('@{font-path}/Soulmaker_in_the_Mountains.eot?v=3.0.1'); src: url('@{font-path}/Soulmaker_in_the_Mountains.eot?#iefix&v=3.0.1') format('embedded-opentype'), url('@{font-path}/Soulmaker_in_the_Mountains.woff?v=3.0.1') format('woff'), url('@{font-path}/Soulmaker_in_the_Mountains.ttf?v=3.0.1') format('truetype'); font-weight: normal; font-style: normal;
}*/
@font-face { font-family: segoeui; src: url(../fonts/typo/segoeui.ttf); }
h1, h2 { font-family: "segoeui"; text-transform: uppercase; }

h1 { position: relative; font-size: 2.5rem; margin: 0 0 2.5rem 0; padding-top: 6rem; }
h1:before { position: absolute; content: ""; bottom: -10px; left: 0; width: 30px; height: 0px; border-bottom: solid 1px currentColor; }

h2 { font-size: 2rem; padding: 8px 0; }

html, body { height: 100%; }

html { font-size: 62.5%; }

body { font-size: 1.4rem; }

/* =14px */
body { font-size: 1.4em; /* base font-size is equivalent "14px" */ }

a:hover { text-decoration: none; }

.navbar { padding: 0; margin: 0; }

/*_general.scss*/
.overlay:hover { /* on cible uniquement les div qui auront l'effet hover (class="overlay"), car on ne souhaite pas de overlay sur la derniere div contenant l'icon fleche*/ }
.overlay:hover:before { /* NB :before ou :after ne fonctionne pas sur les balises img)*/ content: '\002b'; font-size: 40px; line-height: 40px; position: absolute; bottom: 0; top: 0; left: 0; right: 0; /* on positionne l'icon plus ├á 50% de la gauche - la moiti├® de sa tailler (40px-20px) - les 2 bordures... - 1 px ???!!!:-) */ padding-left: calc(50% - (20px - 4px - 1px)); /*idem saut + seulement 1  bordure (4px)...*/ padding-top: calc(50% - (20px + 4px)); background-color: #32393f; opacity: 0.9; color: white; cursor: zoom-in; }

/*modules/inc_nav.css*/
#navbar { background-color: #32393f; border-top: solid 1px #33cb98; font-weight: bold; }
#navbar .container > nav > .row { min-height: 70px; }
#navbar li { padding: 0 8px; }
#navbar li a { color: white; text-transform: uppercase; font-size: 1.2rem; }
#navbar li.active { border: solid 1px #33cb98; }
#navbar li.active a { color: #33cb98; }
#navbar li:hover { border: solid 1px white; }
#navbar .nav-sub-menu { text-align: center; }
#navbar .nav-sub-menu button { cursor: crosshair; color: white; }
#navbar .nav-sub-menu button:hover { color: #33cb98; outline: none; color: #33cb98; }

.navbar-brand { text-transform: uppercase; color: white; font-size: 2rem; }
.navbar-brand span { color: #33cb98; }

#contact { padding-top: 100px; background: url("../../app/images/bg/bg3.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; color: white; /* on rassemble les styles commun des champs du formulaire */ }
#contact form label { padding-bottom: 8px; padding-top: 16px; display: block; color: white; text-transform: uppercase; }
#contact form input, #contact form textarea, #contact form button { background: transparent; border: none; width: 100%; box-sizing: border-box; color: #33cb98; }
#contact form input { border-bottom: solid 1px #33cb98; outline: none; /* supprime les bordures champs de formulaire lors d'un focus*/ }
#contact form textarea { border: solid 1px #33cb98; outline: none; /* supprime les bordures champs de formulaire lors d'un focus*/ min-height: 300px; background-color: rgba(50, 30, 45, 0.5); }
#contact form button { background-color: #33cb98; color: white; padding: 10px; text-transform: uppercase; width: 20%; margin: 20px auto; }

#slider { height: 60vh; /*prend toute la hauteur du viewport*/ }
#slider .swiper-container { width: 100%; height: 100%; }
#slider .swiper-container .swiper-slide { text-align: center; font-size: 18px; background: #fff; /* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
#slider .swiper-container .s1 { background: url("../images/slider/s1.jpg") no-repeat center center; }
#slider .swiper-container .s2 { background: url("../images/slider/s2.jpg") no-repeat center center; }
#slider .swiper-container .s3 { background: url("../images/slider/s3.jpg") no-repeat center center; }
#slider .swiper-container .swiper-button-prev, #slider .swiper-container .swiper-button-next { top: 25%; }
#slider .swiper-container .swiper-button-prev { background-image: url(none); /*NB UTILISATION DES VALEUR UNICODE POUR LES ICONS PAS SUTRE QUE CA SOIT COMPATIBLE AVEC TOUS LES NAVIGATEURS*/ }
#slider .swiper-container .swiper-button-prev:before { content: '\2039'; /*content value = unicode number, pas reussi a mettre fontawesome ou webhostinhub glyphs en valeur css */ font-size: 20vh; line-height: 20vh; color: #33cb98; }
#slider .swiper-container .swiper-button-next { background-image: url(none); }
#slider .swiper-container .swiper-button-next:before { content: '\203A'; /*content value = unicode number, pas reussi a mettre fontawesome ou webhostinhub glyphs en valeur css */ font-size: 20vh; line-height: 20vh; color: #33cb98; }
#slider .swiper-container .swiper-pagination-bullet-active { background: #33cb98; }

#mixitup { padding-bottom: 60px; }

/* Controls
---------------------------------------------------------------------- */
.controls { padding: 60px 0px; font-size: 16px; text-align: right; }
.controls button { background-color: transparent; outline: none; border: none; }
.controls .control { position: relative; display: inline-block; cursor: pointer; font-size: 16px; color: white; margin-left: 16px; padding: 4px; color: grey; }
.controls .control:hover { border: solid 1px green; }

.control[data-filter]:after, .control[data-toggle]:after { content: ''; position: absolute; width: 10px; height: 10px; top: calc(50% - 6px); right: -10px; border: 2px solid currentColor; border-radius: 2px; background: currentColor; transition: background-color 150ms, border-color 150ms; }

.mixitup-control-active { background: #393939; border: solid 1px green; color: #33cb98; }

.mixitup-control-active[data-toggle]:after { background: black; }

.portfolio-container img { max-width: 100%; }

/* Target Elements
---------------------------------------------------------------------- */
.mix, .gap { display: inline-block; }

.mix { background: #ccc; position: relative; margin-bottom: 4px; }

/* Grid Breakpoints
---------------------------------------------------------------------- */
/* 2 Columns */
.mix, .gap { width: calc(100%/2 - (((2 - 1) * 1rem) / 2)); }

/* 3 Columns */
@media screen and (min-width: 541px) { .mix, .gap { width: calc(100%/3 - (((3 - 1) * 1rem) / 3)); } }
/* 4 Columns */
@media screen and (min-width: 961px) { .mix, .gap { width: calc(100%/4 - (((4 - 1) * 1rem) / 4)); } }
#map { height: 60%; width: 100%; left: 0; position: relative; top: 0; }

#footer { background-color: #32393f; padding-bottom: 30px; padding-top: 30px; }
#footer li { display: inline-block; margin-right: 8px; border-right: solid 1px white; padding-right: 8px; }
#footer li:last-child { border-right: solid 1px transparent; }
#footer li a { color: white; }
#footer li a:hover { color: #33cb98; }

#hero { height: 100vh; /*prend toute la hauteur du viewport*/ background: url("../../app/images/bg/bg1.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; text-align: center; /*on centre tous les contenus des div*/ /*on supprime les margins par defaut de bootstrap*/ }
#hero.row { margin: 0; }
#hero p { position: relative; /*afin de positionner en absolute les quotes before et after*/ background-color: #32393f; color: white; text-transform: uppercase; font-weight: 100; font-size: 3vw; padding: 0px 32px; margin-bottom: 60px; opacity: 0.8; /*on ajoute les quotes au titre p*/ /*fin des quotes*/ }
#hero p:before, #hero p:after { color: #33cb98; position: absolute; top: -35px; font-size: 6rem; }
#hero p:before { content: open-quote; left: 5px; }
#hero p:after { content: close-quote; right: 5px; }
#hero a { position: relative; /*afin de positionner en absolute l'icon fleche (ici test icon mapping, cf helpers/mixins.scss)*/ margin-top: 30px; }
#hero a span { color: white; }
#hero a span:before { content: ""; speak: none; font-style: normal; font-weight: normal; font-family: 'FontAwesome'; /*mixins permettant le mapping de font icon cf helpers/mixins.scss */ position: absolute; color: #33cb98; font-size: 30px; top: 20px; left: calc(50% - 15px); /*on deplace de 50% - la moiti├® de la taille de l'icon (30 - 15), NB : faut des espaces autour du moins*/ }

#services { position: relative; /*afin de positionner en absolute l'arrow cr├®er en css avec :after*/ background-color: #33cb98; color: white; }
#services:after { /*dow arrow du background cr├®er en css cd le site cssarrow */ top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(136, 183, 213, 0); border-top-color: #33cb98; border-width: 40px; margin-left: -40px; }
#services i { /*on augmente la taille des 4 picto (font icon : webhostinghub glyphs)*/ font-size: 4rem; }

#portfolio { /* nb le css pour le overlay est dans le fichier layout/_general.scss  */ background-color: white; padding-bottom: 100px; /* END CLASS CONTAINER*/ }
#portfolio a { color: #33cb98; }
#portfolio a:hover { color: #32393f; }
#portfolio .container { overflow: hidden; /*afin de contenir les float dans le conteneur et eviter la section d'apres de remonteer par dessus celle-ci*/ /*variable correspondant ├á la hauteur de notre icon*/ }
#portfolio .container > div { /*   PREMIER CONTENEUR DES IMAGES  (on cible toutes les div contenus dans la balise container  */ position: relative; width: 25%; float: left; border: solid 8px transparent;                                /*  pour separer les elements de notre galerie plusieurs solutions :
- si on met un padding ca marche, sauf que l'overlay avec :before est plus grand que l'image
- si on met un margin ca fait tout sauter, le margin n'est pas integrer dans le box-sizing: border-box.
nb: box-sizing: border-box est deja integrer grace ├á bootstrap
- En revanche la bordure est integrer ds le width de nos div (box-sizing: border-box;) du coup on mettre une bordure avec background transparent et c'est joue!
*/ }
#portfolio .container .arrow-next { /* la div contenant notre icon ne prend pas toute la hauteur, du coup le padding ne marche pas il faut un margin. Pour cela on a besoin de savoir la hauteur de notre div. Celle ci correspond ├á la hauteur de notres image. Nos images ont un width de 25%, comme elle sont rectangulaire la hauteur est donc de 25%. Du coup pour mettre l'icon au milieu margin-top:12,5%
Cependant si on met un margin de 12,5% on voit que notre icon n'est pas parfaitement positionner verticalement. Il faut enlever la moitier de la hauteur de notre icon, c├ád la valeut de notre variable $icon-hauteur/2
Dernier point, souvent la hauteur d'une balise ne correspond pas ├á la hauteur que l'on a defini, elle est plus grande, cela est du au fait qu'il y a souvent une valeur ├á line-height, si on la met egal ├á la taille de l'icon, la balise aura exactement la taille du contenu ici l'icon.
*/ margin-top: calc(12.5% -  40px/2); /*la div contenant notre icon prend toute la largeur c'est ├á dire 25%, c'est pourquoi on utilise un padding*/ padding-left: calc(12.5% -  40px/2); border: none; }
#portfolio .container .first-img { width: 50%; /* on agrandi la premiere image*/ }
#portfolio .container .icon-circle-arrow-right { font-size: 40px; line-height: 40px; /* sans le line-height, on s'appercoit que la balise i ├á une hauteur plus grande que notre icon, ce qui fausse le positionnement verticalement, pour eviter cela on ajoute un line-height avec la meme valeut que notre font-size*/ }

/*END DIV PORTFOLIO */
#video { position: relative; background-color: #32393f; color: white; padding-bottom: 30px; }
#video:before { /* angle de rotation effet background separateur*/ position: absolute; display: block; content: ""; top: -30px; width: 100%; height: 100px; background-color: inherit; transform: skew(1deg, 0deg); transform: skewY(-1.5deg); ansform-origin: 100%; }

#reseau { background-color: #33cb98; padding-bottom: 30px; /* un bon gros copier des class de bootstrap pour changer la couleur de fond de la tab active...*/ }
#reseau a { color: white; border: none; }
#reseau a:hover { color: #32393f; }
#reseau .nav-tabs { border-bottom: none; color: white; }
#reseau .tab-content { border-bottom: none; color: white; }
#reseau .nav-tabs .nav-link { display: block; padding: 0 16px 0 0; }
#reseau .nav-item.open .nav-link, #reseau .nav-tabs .nav-item.open .nav-link:focus, #reseau .nav-tabs .nav-item.open .nav-link:hover, #reseau .nav-tabs .nav-link.active, #reseau .nav-tabs .nav-link.active:focus, #reseau .nav-tabs .nav-link.active:hover { background-color: transparent; border: none; font-size: 20px; }
#reseau a .active { border-left: solid 1px white; }

#bio { background-color: #32393f; background: url("../../app/images/bg/bg2.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding-bottom: 30px; color: white; }
#bio div > span i { font-size: 3rem; border: solid 2px #33cb98; padding: 8px; color: white; margin-right: 8px; }
#bio div > span i:hover { color: #32393f; border: solid 2px white; background-color: white; cursor: crosshair; }

#partenaires { position: relative; padding-top: 100px; padding-bottom: 100px; background-color: white; }
#partenaires .logo-partenaires { text-align: center; }
#partenaires img { max-width: 100%; }
#partenaires:after { /* angle de rotation effet background separateur*/ position: absolute; display: block; content: ""; bottom: -20px; width: 100%; height: 100px; background-color: inherit; transform: skew(1deg, 0deg); transform: skewY(1.5deg); ansform-origin: 100%; }



/*# sourceMappingURL=styles.css.map */
