#hero {

    height: 100vh;/*prend toute la hauteur du viewport*/
    background: url("../../app/images/bg/bg1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;/*on centre tous les contenus des div*/

    &.row {margin: 0}/*on supprime les margins par defaut de bootstrap*/
    p {
        position: relative;/*afin de positionner en absolute les quotes before et after*/
        background-color: $bg-1;
        color: $font-1;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 3vw;
        padding: 0px 32px;
        margin-bottom: 60px;
        opacity: 0.8;

        /*on ajoute les quotes au titre p*/
        &:before,
        &:after{
            color: $deco-1;
            position: absolute;
            top: -35px;
            font-size: 6rem;
        }

        &:before{
             content: open-quote;
            left: 5px;
        }

        &:after{
             content: close-quote;
            right: 5px;
        }
        /*fin des quotes*/
    }

    a {
        position: relative;/*afin de positionner en absolute l'icon fleche (ici test icon mapping, cf helpers/mixins.scss)*/
        margin-top: 30px;

        span{
            color: $font-1;

                @include icon(before, arrow-down) { /*mixins permettant le mapping de font icon cf helpers/mixins.scss */
                    position: absolute;
                    color: $deco-1;
                    font-size: 30px;
                    top: 20px;
                    left: calc(50% - 15px);/*on deplace de 50% - la moitié de la taille de l'icon (30 - 15), NB : faut des espaces autour du moins*/

            }

        }
    }

}


#services{
    position: relative;/*afin de positionner en absolute l'arrow créer en css avec :after*/
    background-color: $deco-1;
    color: $font-1;

    &:after{/*dow arrow du background créer en css cd le site cssarrow */
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-top-color: $deco-1;
        border-width: 40px;
        margin-left: -40px;
    }

    i{ /*on augmente la taille des 4 picto (font icon : webhostinghub glyphs)*/
        font-size: 4rem;
    }


}












#portfolio{/* nb le css pour le overlay est dans le fichier layout/_general.scss  */

    background-color: $font-1;
    padding-bottom: 100px;

    a{
        color: $deco-1;

            &:hover{
                color:$bg-1;
                }
    }

    .container{

        overflow: hidden; /*afin de contenir les float dans le conteneur et eviter la section d'apres de remonteer par dessus celle-ci*/

        >div{ /*   PREMIER CONTENEUR DES IMAGES  (on cible toutes les div contenus dans la balise container  */
            position: relative;
            width: 25%;
            float: left;
            border: solid 8px transparent; /*  pour separer les elements de notre galerie plusieurs solutions :
            - si on met un padding ca marche, sauf que l'overlay avec :before est plus grand que l'image
            - si on met un margin ca fait tout sauter, le margin n'est pas integrer dans le box-sizing: border-box.
            nb: box-sizing: border-box est deja integrer grace à bootstrap
            - En revanche la bordure est integrer ds le width de nos div (box-sizing: border-box;) du coup on mettre une bordure avec background transparent et c'est joue!
            */

            }


         $icon-hauteur:40px;  /*variable correspondant à la hauteur de notre icon*/
        .arrow-next{
            /* la div contenant notre icon ne prend pas toute la hauteur, du coup le padding ne marche pas il faut un margin. Pour cela on a besoin de savoir la hauteur de notre div. Celle ci correspond à la hauteur de notres image. Nos images ont un width de 25%, comme elle sont rectangulaire la hauteur est donc de 25%. Du coup pour mettre l'icon au milieu margin-top:12,5%
            Cependant si on met un margin de 12,5% on voit que notre icon n'est pas parfaitement positionner verticalement. Il faut enlever la moitier de la hauteur de notre icon, càd la valeut de notre variable $icon-hauteur/2
            Dernier point, souvent la hauteur d'une balise ne correspond pas à la hauteur que l'on a defini, elle est plus grande, cela est du au fait qu'il y a souvent une valeur à line-height, si on la met egal à la taille de l'icon, la balise aura exactement la taille du contenu ici l'icon.
            */
            margin-top: calc(12.5% -  #{$icon-hauteur}/2);
            /*la div contenant notre icon prend toute la largeur c'est à dire 25%, c'est pourquoi on utilise un padding*/
            padding-left: calc(12.5% -  #{$icon-hauteur}/2);
            border:none;
        }

        .first-img{
            width: 50%;/* on agrandi la premiere image*/
        }

        .icon-circle-arrow-right{
            font-size:  $icon-hauteur;
            line-height:  $icon-hauteur; /* sans le line-height, on s'appercoit que la balise i à une hauteur plus grande que notre icon, ce qui fausse le positionnement verticalement, pour eviter cela on ajoute un line-height avec la meme valeut que notre font-size*/

        }

    }/* END CLASS CONTAINER*/


}/*END DIV PORTFOLIO */



#video{
    position: relative;
    background-color: $bg-1;
    color: $font-1;
    padding-bottom: 30px;

    &:before{/* angle de rotation effet background separateur*/
        position: absolute;
        display: block;
        content:"";
        top: -30px;
        width: 100%;
        height: 100px;
        background-color:inherit;
        transform : skew(1deg,0deg);
        transform: skewY(-1.5deg);ansform-origin: 100%;


        }


}



#reseau{
    background-color: $deco-1;
    padding-bottom: 30px;

    a{

        color: $font-1;
        border: none;

        &:hover{
            color: $bg-1;
        }

    }

    .nav-tabs {
        border-bottom: none;
        color: $font-1;
    }

    .tab-content {
        border-bottom: none;
        color: $font-1;
    }

    .nav-tabs .nav-link {
        display: block;
        padding: 0 16px 0 0;

    }


    /* un bon gros copier des class de bootstrap pour changer la couleur de fond de la tab active...*/
     .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
        background-color: transparent;
         border: none;
         font-size: 20px
        }


    a .active{
       border-left: solid 1px white;
    }

}



#bio{
    background-color: $bg-1;
    background: url("../../app/images/bg/bg2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom:30px;
    color: $font-1;
    div>span{



        i{
            font-size: 3rem;
             border: solid 2px $deco-1;
            padding: 8px;
            color: $font-1;
            margin-right: 8px ;


            &:hover{
                color: $bg-1;
                border: solid 2px $font-1;
                background-color: $font-1;
                cursor: crosshair;
            }
        }
    }



}


#partenaires{
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $font-1;

    .logo-partenaires{
        text-align: center;
    }

    img{
        max-width: 100%;
    }

        &:after{/* angle de rotation effet background separateur*/
            position: absolute;
            display: block;
            content:"";
            bottom: -20px;
            width: 100%;
            height: 100px;
            background-color:inherit;
            transform : skew(1deg,0deg);
            transform: skewY(1.5deg);ansform-origin: 100%;
        }
}
