html, body{height: 100%}
html { font-size: 62.5%; }
body { font-size: 1.4rem; } /* =14px */

body {
  font-size: 1.4em; /* base font-size is equivalent "14px" */
}

a:hover{text-decoration: none;}

.navbar{padding: 0; margin: 0;}
