/*@font-path: "../../fonts/typo";

@font-face {
  font-family: 'segoeui';
  src: url('@{font-path}/segoeui.eot?v=3.0.1');
  src: url('@{font-path}/segoeui.eot?#iefix&v=3.0.1') format('embedded-opentype'),
        url('@{font-path}/segoeui.woff?v=3.0.1') format('woff'),
        url('@{font-path}/segoeui.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Soulmaker_in_the_Mountains';
  src: url('@{font-path}/Soulmaker_in_the_Mountains.eot?v=3.0.1');
  src: url('@{font-path}/Soulmaker_in_the_Mountains.eot?#iefix&v=3.0.1') format('embedded-opentype'),
        url('@{font-path}/Soulmaker_in_the_Mountains.woff?v=3.0.1') format('woff'),
        url('@{font-path}/Soulmaker_in_the_Mountains.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
   font-family: segoeui;
    src: url(../fonts/typo/segoeui.ttf);
}

h1, h2{
    font-family:"segoeui";
    text-transform: uppercase;
}

h1{

    position: relative;
    font-size: 2.5rem;
    margin: 0 0 2.5rem 0;
    padding-top: 6rem;

    &:before{

        position: absolute;
        content: "";
        bottom: -10px;
        left: 0;
        width: 30px;
        height: 0px;
        border-bottom: solid 1px currentColor;

    }




}

h2{
    font-size: 2rem;
    padding: 8px 0;

}
