//Usage: @include font-face('Kent Medium','KentMed', normal (optional), bold (optional));
@mixin font-face($fontname,$filename,$fontstyle: normal,$fontweight: normal) {
    @font-face {
    font-family: '#{$fontname}';
    src: url('../fonts/typo/#{$filename}.eot');
    src: url('../fonts/typo/#{$filename}.eot?#iefix') format('embedded-opentype'),
         url('../fonts/typo/#{$filename}.woff') format('woff'),
         url('../fonts/typo/#{$filename}.ttf') format('truetype'),
         url('../fonts/typo/#{$filename}.svg##{$filename}') format('svg');
        //svg id supports mixed case and hyphens inside, see http://j.mp/U7A83a

    font-style: $fontstyle;
    font-weight: $fontweight;
}
}


// Map icon names to font unicode characters
$icons: (
    email: "\f107",
    newspaper: "\f001",
    info: "\f002",font/
    people: "\f003",
    arrow-left: "\f004",
    arrow-right: "\f005",
    arrow-down:"\f13a"
);


// For adding font icons to elements using CSS pseudo-elements
// http://jaydenseric.com/blog/fun-with-sass-and-font-icons
@mixin icon($position: before, $icon: false, $styles: true) {
    @if $position == both {
        $position: 'before, &:after';
    }
    // Either a :before or :after pseudo-element, or both, defaulting to :before
    &:#{$position} {
        @if $icon {
            // A particular icon has been specified
            content: "#{map-get($icons, $icon)}";

        }
        @if $styles {
            // Supportive icon styles required
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-family: 'FontAwesome';

        }
        // Include any extra rules supplied for the pseudo-element
        @content;
    }
}

