#contact{
    padding-top: 100px;
    background: url("../../app/images/bg/bg3.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $font-1;


        /* on rassemble les styles commun des champs du formulaire */
        form label{
            padding-bottom: 8px;
            padding-top: 16px;
            display: block;
            color: $font-1;
            text-transform: uppercase;
        }

        form input, form textarea, form button{
            background: transparent;
            border: none;
            width: 100%;
            box-sizing: border-box;
            color: $deco-1;
        }


        form input {

            border-bottom: solid 1px $deco-1;
            outline: none;  /* supprime les bordures champs de formulaire lors d'un focus*/

        }

        form textarea {
            border: solid 1px $deco-1;
            outline: none;  /* supprime les bordures champs de formulaire lors d'un focus*/
            min-height: 300px;
              background-color: rgba(50, 30, 45, 0.5);
        }

        form button {
            background-color: $deco-1;
            color: $font-1;
            padding: 10px;
            text-transform: uppercase;
            width:20%;
            margin: 20px auto;
        }
}
