#mixitup{
    padding-bottom: 60px;
}

/* Controls
---------------------------------------------------------------------- */

.controls {
     padding: 60px 0px;
    font-size: 16px;
    text-align: right;



    button{
        background-color: transparent;
        outline: none;
        border: none;
    }
    .control {
        position: relative;
        display: inline-block;
        cursor: pointer;
        font-size: 16px;
        color: white;
        margin-left: 16px;
        padding: 4px;
        color:grey;


    &:hover {
        border: solid 1px green;

        }

    }

}

.control[data-filter]:after,
.control[data-toggle]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 6px);
    right:-10px;
    border: 2px solid currentColor;
    border-radius: 2px;
    background: currentColor;
    transition: background-color 150ms, border-color 150ms;
}


.mixitup-control-active {
    background: #393939;
    border: solid 1px green;
    color: $deco-1;
}
.mixitup-control-active[data-toggle]:after {
    background: black;
}

.portfolio-container img{
    max-width: 100%;
}


/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;

}

.mix {
    background: #ccc;
    position: relative;
    margin-bottom: 4px;
}




/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}



