/*modules/inc_nav.css*/
#navbar{
    background-color:$bg-1;
    border-top: solid 1px $deco-1;
    font-weight:bold;

    .container>nav>.row{
        min-height: 70px;
    }

    li {
        padding: 0 8px;

        a {
            color: white;
            text-transform: uppercase;
            font-size: 1.2rem;
        }

        &.active {
             border: solid 1px $deco-1;

            & a {
                color: $deco-1;
            }
        }

        &:hover{
            border: solid 1px $font-1;
        }
    }


    .nav-sub-menu {
        text-align: center;

            button {
                cursor: crosshair;
                color: $font-1;

                &:hover{
                    color:$deco-1;
                    outline: none;
                    color: $deco-1;
            }
        }

    }

}

.navbar-brand{
    text-transform: uppercase;
    color: white;
    font-size: 2rem;

    & span {
        color: $deco-1;
    }
}


