#slider{
     height: 60vh;/*prend toute la hauteur du viewport*/
    .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .s1{ background: url("../images/slider/s1.jpg") no-repeat center center;}
        .s2{ background: url("../images/slider/s2.jpg") no-repeat center center;}
        .s3{ background: url("../images/slider/s3.jpg") no-repeat center center;}




        .swiper-button-prev, .swiper-button-next {
            top: 25%;
        }

        .swiper-button-prev {
            background-image: url(none);


                /*NB UTILISATION DES VALEUR UNICODE POUR LES ICONS PAS SUTRE QUE CA SOIT COMPATIBLE AVEC TOUS LES NAVIGATEURS*/
            &:before{
                content:'\2039';/*content value = unicode number, pas reussi a mettre fontawesome ou webhostinhub glyphs en valeur css */
                font-size: 20vh;
                line-height: 20vh;
                color: $deco-1;
            }
        }

        .swiper-button-next {
            background-image: url(none);

            &:before{
                content:'\203A';/*content value = unicode number, pas reussi a mettre fontawesome ou webhostinhub glyphs en valeur css */
                font-size: 20vh;
                line-height: 20vh;
                color: $deco-1;
            }
        }

        .swiper-pagination-bullet-active {
            background: $deco-1;
}
    }
}
